/node_modules
/client/node_modules
/server/node_modules
/server/dist
/server/build
/server/public
# TODO: this one does not make sense to be untracked unless the src is not public what may not be transparent
# /server/src 
/server/test
/client/build
.env
.DS_Store